In [ ]:
x=1

In [ ]:
a = "Krishna"

In [ ]:
a = "500"

In [ ]:
a = "5.228"

In [ ]:
b = True

In [ ]:
b = None

In [ ]:
b = [5,7,6]

In [ ]:
c = (7,9,8)

In [ ]:
d = {9,8,7}

In [ ]:
e = {'a':'Krishna', 'b':None}

### Operators in Python
- arithmatic operators
- assignment operators
- logical operatos
- identity operators
- membership operators
- bitwise operators

In [ ]:
m=4
n=9

In [26]:
print(m+n)
print(m-n)
print(m*n)
print(m/n)
print(m//n)
print(m%n)
print(m**n)

13
-5
36
0.4444444444444444
0
4
262144

In [28]:
r = 25
print(r)
r -= 10 #reduce r by 10
print(r)
r += 10 #increase r by 10
print(r)
r *=10 # mul r by 10
print(r)
r /=10 #div r by 10
print(r)
r //=5 #div r by 5
print(r)

25
15
25
250
25.0
5.0

In [29]:
print(m<n)
print(m>n)
print(m<=n)
print(m>=n)
print(m==n)
print(m!=n)
print(0<m<=20)

True
False
True
False
False
True
True

In [34]:
name = "Krishna"
age = 21

In [31]:
print (name == "Aryan")

False

In [36]:
print (name == 'Krishna' and age <=30)

True

In [37]:
print(name != 'njr' or age <=30)
print(not name != 'jnv' and not age <=30 )

True
False

In [38]:
d =[2,5,4]
g = d 
h = d.copy()

In [39]:
print(d is g)
print(d is h)
print(g is h)

True
False
False

In [40]:
name = "Krishna"

print('Kri' in name)
print('sdj'in name)

True
False

In [41]:
P = 50000
R = 5
T = 4
I = P*R*T/100
print(I)

10000.0

### datatypes
- int
- float
- boolean
- str
- nonetype
- list
- tuple
- set 
- dict