- display simple data
- formatted display

In [1]:
name = "Krishna"
age ="21"

In [2]:
print(name)
print(age)

Krishna
21

In [3]:
print(name,age)

Krishna 21

In [4]:
print("Your name is",name)
print("Your age is",age)

Your name is Krishna
Your age is 21

In [6]:
print("Krishna","qrst","abcd")

Krishna qrst abcd

In [8]:
print("Krishna","abcd","qrst",sep="\n")

Krishna
abcd
qrst

In [9]:
print(1,end=" ")
print(2)
print(3)

1 2
3

f-string = formatted string literals

In [10]:
x=8
y=10
z=15
print(x,'+',y,'=',x+y)

8 + 10 = 18

In [11]:
print(f'{x} + {y} ={x+y}')

8 + 10 =18

In [16]:
p1="Krishna"
p2="Aryan"
print(f"{p1} = {len(p1)} chars")
print(f"{p2} = {len(p2)} chars")

Krishna = 7 chars
Aryan = 5 chars

In [18]:
p3="Sam"
print(f"{p1:8} = {len(p1)} chars")
print(f"{p2:8} = {len(p2)} chars")
print(f"{p3:8} = {len(p3)} chars")

Krishna  = 7 chars
Aryan    = 5 chars
Sam      = 3 chars

In [19]:
print(f"{p1:>8} = {len(p1)} chars")
print(f"{p2:>8} = {len(p2)} chars")
print(f"{p3:>8} = {len(p3)} chars")

 Krishna = 7 chars
   Aryan = 5 chars
     Sam = 3 chars

In [21]:
print(f"{p1:^8} = {len(p1)} chars")
print(f"{p2:^8} = {len(p2)} chars")
print(f"{p3:^8} = {len(p3)} chars")

Krishna  = 7 chars
 Aryan   = 5 chars
  Sam    = 3 chars

In [25]:
pi = 22/7
print(f'the value of pi is {pi}')
print(f'the value of pi is {pi:.2f}')
print('ðŸ˜‚ðŸ˜‚')

the value of pi is 3.142857142857143
the value of pi is 3.14
ðŸ˜‚ðŸ˜‚

input

In [ ]:
city = input("Which do you live in?")

type casting

In [28]:
a = 12
print(type(a))
a = bool(a)
print(a, type(a))
a = int(a)
print(a, type(a))

<class 'int'>
True <class 'bool'>
1 <class 'int'>

In [29]:
pi = int(pi)
print(pi, type(pi))
pi = float(pi)
print(pi, type(pi))

3 <class 'int'>
3.0 <class 'float'>

In [32]:
a = int(input('Enter x:'))
a = int(input('Enter y:'))
print(x**y)

1073741824