Loops

#### for
- step based loop
- enumeration
- traversing iterables

#### while
- condition based loop

In [1]:
range(1,100)

range(1, 100)

```
for var in iterables:
    statements
```

In [3]:
for item in range(10):
    print(item,end=' ')

0 1 2 3 4 5 6 7 8 9

In [4]:
for i in range(-10,10):
    print(i,end=' ')

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1 0 1 2 3 4 5 6 7 8 9

In [6]:
for i in range(-10,11,2):
    print(i,end=' ')

-10 -8 -6 -4 -2 0 2 4 6 8 10

In [7]:
for i in range(20,5,-1):
    print(i,end=' ')

20 19 18 17 16 15 14 13 12 11 10 9 8 7 6

In [8]:
for i in range(2,100,2):
    print(i,end=' ')

2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98

In [9]:
for _ in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [10]:
name = "Krishna"
words = ['hi','hello','aloha','hola']#list
colors = ('red','green','blue')#tuple
numbers = {2,4,5,7,10,14,15,20,25}#set

In [13]:
for char in name:
    print(char,end='')
print()
for word in words:
    print(word,end=' ')
print()
for c in colors:
    print(c,end=' ')
print()
for i in numbers:
    print(i,end=' ')

Krishna
hi hello aloha hola
red green blue
2 4 5 7 10 14 15 20 25

In [18]:
names = ['Harsh','Aryan','Krishna','Ayush','Ashutosh']
for idx, val in enumerate(names):
    print(idx, val)

0 Harsh
1 Aryan
2 Krishna
3 Ayush
4 Ashutosh

In [19]:
surnames = ['Shukla','Bhatnagar','Agarwal','Pandey','Srivastava']
for fname,lname in zip(names, surnames):
    print(fname,lname)

Harsh Shukla
Aryan Bhatnagar
Krishna Agarwal
Ayush Pandey
Ashutosh Srivastava

In [23]:
x = [1,2,3,4,4,5,6,6,7]
for i in x:
    if i == 4 or i == 6:
        continue
    print(i, end=' ')

1 2 3 5 7

In [24]:
for i in x:
    if i == 4:
        break
    print(i, end=' ')

1 2 3

In [25]:
x = []
for i in x:
    print(i,end=' ')

In [30]:
# for-else
for i in range(5):
    name = input('Enter name of person:')
    if name:
        print(f'Hello {name}')
    else:
        break
else:
    print('Well done')

Hello Krishna
Hello Aryan
Hello Ritik
Hello Abcd
Hello cdjn
Well done

In [32]:
n = 0
while n < 100:
    print(n, end=' ')
    n += 10

0 10 20 30 40 50 60 70 80 90

In [36]:
# infinite loop controlled by user
while True:
    num = int(input('enter a number greater than 100:'))
    if num > 100:
        print(f'{num}')
    else:
        print('Entered a number less than 100')
        break

455
666666666
Entered a number less than 100